<app-hamburger></app-hamburger>
<app-back></app-back>
<div class="overlay"></div>

<body>

    <div class="head-line">

        <div class="left">
            <h1>Projects</h1>

            <div class="line"></div>

            <p>
                List of projects that I have created and hosted them online so that they are available for all managers
                to
                see and roast my ass.
            </p>

            <div class="line"></div>
        </div>

        <div class="right">
            <img src="/assets/imgs/purp.svg" alt="" id="svg">
        </div>

    </div>

    <!-- Projects -->
    <section class="projects">

        <!-- <h1 class="work">My Work</h1> -->

        <div class="example">

            <div class="example-1">
                <div class="imgz">
                    <img src="assets/imgs/netflx.png" alt="" id="net">
                </div>

                <div class="desc" style="margin-top: -0.5em;">
                    <h2>Netflix Clone</h2>

                    <p>Created a prototype of the netflix website using Pure CSS3 and HTML5.</p>

                    <button>Check it out!</button>

                </div>
            </div>


            <div class="example-2">
                <div class="imgz">
                    <img src="assets/imgs/milli.png" alt="" id="milli">
                </div>

                <div class="milli-desc" style="margin-top: -0.5em;">
                    <h2>Who wants to be a Millionare?</h2>

                    <p>Created a game show in which the user has to answer a set of randomly generated questions.</p>

                    <button>Check it out!</button>

                </div>
            </div>



            <div class="example-3">
                <div class="imgz">
                    <img src="assets/imgs/Microsoft-Logo.jpg" alt="" id="msft">
                </div>

                <div class="msft-desc" style="margin-top: -0.5em;">
                    <h2>Microsoft Website Clone</h2>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione et a autem sed maxime hic?</p>

                    <button>Check it out!</button>
                </div>


            </div>


            <div class="example-4">
                <div class="imgz">
                    <img src="assets/imgs/airbnb-logo.jpg" alt="" id="bnb">
                </div>

                <div class="airbnb-desc" style="margin-top: -0.3em;">
                    <h2>Airbnb Full Stack Clone</h2>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione et a autem sed maxime hic?</p>

                    <button>Check it out!</button>
                </div>

            </div>

        </div>

    </section>


    <!-- DESIGNS -->
    <article>

        <div class="article">

            <div class="designz">

                <div class="head">
                    <h2>Passion for Design</h2>
                </div>

                <div class="line"></div>

                <div class="par">
                    <p>After attending Seneca and gaining pleasure doing web dev, i dove into deisgning coool lookin
                        websites
                        becuz i loved deisgning omg omg omg!</p>
                </div>

                <div class="line"></div>

            </div>

            <div class="design-img">
                <img src="assets/imgs/design.svg" alt="">
                <!-- <img src="assets/imgs/netflx.png" alt="" id="net"> -->
            </div>

        </div>



        <div class="swiperz">

            <swiper [config]="config">

                <div class="swiper-wrapper">

                    <!-- #1 -->
                    <div class="swiper-slide">
                        <img src="assets/imgs/back.jpg" alt="" width="800px">
                    </div>


                    <!-- #2 -->
                    <div class="swiper-slide">
                        <img src="assets/imgs/back.jpg" alt="" width="800px">
                    </div>


                    <!-- #3 -->
                    <div class="swiper-slide">
                        <img src="assets/imgs/back.jpg" alt="" width="800px">
                    </div>

                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>


            </swiper>

        </div>

    </article>

</body>