$main-color: #9f29ff;
$main-font: 'Raleway';

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    // this is the color on all the projects
    height: 100vh;
    width: 100vw;
    background-color: #222;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

#svg
{
    max-width: 350px;
    height: auto;
    transition: all 0.5s ease-in-out;

    @media(max-width: 868px)
    {
        max-width: 250px;
        margin: 0.5em;
    }
}


.head-line
{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 3em;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 2px 2px 20px 5px $main-color;
    border-bottom: 2px solid $main-color;
    background-color: rgba(0, 0, 0, 0.9);
    
        @media(max-width: 868px)
        {
            padding: 1em;
        } 
}

.head-line
{
    .left
    {
        margin-top: 0.5em;
    }

    @media(max-width: 868px)
    {
        display: block;
    }


    p
    {
        color: lightgray;
        width: 50%;
        margin: 0 auto;
        font-family: $main-font;
        font-size: 1em;
        font-variant: small-caps;

        @media(max-width: 868px)
        {
            width: 80%;
        }
    }
}

h1
{
    font-family: $main-font;
    font-size: 4em;
    color: $main-color;
    font-variant: small-caps;
    font-weight: 10;

    @media(max-width: 868px)
        {
            font-size: 3em;
        }
}


.line
{
    position: relative;
    height: 2px;
    width: 50px;
    background-color: white;
    margin: 1em auto 1em auto;
}

.line-2
{
    position: relative;
    height: 1px;
    width: 300px;
    background-color: white;
    margin: 0.5em auto 0em auto;
}

img
{
    max-width: 300px;
    height: auto;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

#net, #milli, #msft, #bnb
{
    width: 100%;
    // margin-right: 5em;
    height: auto;
    transition: all 0.5s ease-in-out;
}

#net
{
    opacity: 0;
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

#milli
{
    opacity: 0;
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-delay: 0.50s;
    animation-fill-mode: forwards;
}

#msft
{
    opacity: 0;
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

#bnb
{
    opacity: 0;
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

// Adding transition/keyframes to imgs


img:hover
{
    //box-shadow: -6px 6px white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


// Design
.article
{ 
    border-bottom: 2px solid $main-color;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 8px 20px -5px $main-color;
    padding: 3em;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -7em;
    
    
    @media(max-width: 868px)
    {
        display: block;

        img
        {
            display: block;
            margin: 0 auto;
        }
    }


.designz
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    h2
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        font-weight: 100;
        font-size: 2.5em;
        color: $main-color;
    }
    
    p
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        font-weight: 100;
        width: 70%;
        text-align: center;
        margin: 0em auto 1em auto;
    }
}
}


.example
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 3em auto 2em auto;
    
    @media(max-width: 1268px)
    {
        grid-template-columns: repeat(2, 1fr);
    }

     @media(max-width: 668px)
    {
        grid-template-columns: repeat(1, 1fr);
    }

    // &:hover
    // {
    //     .article
    //     {
    //         animation-play-state: running; 
    //     }
    // }



    // Netflix
    .example-1
    {
        max-width: 300px;
        margin: 0em auto 0em auto;
        // animation-name: marginDown;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-play-state: paused; 


    .desc h2
    {
        //font-weight: 900;
        font-family: $main-font;
        color: red;
        font-size: 1.5em;
    }


    .desc p
    {
        font-size: 0.9em;
        color: white;
        font-variant: small-caps;
        line-height: 1.5em;
        font-family: $main-font;
    }

    
    
    .desc .visitz
    {
        position: relative;
        border: 2px solid red;
        border-radius: 5px;
        color: white;
        background-color: transparent;
        font-family: $main-font;
        
        &::after
        {
                content: '';
                position: absolute;
                background-color: red;
                top: -1%;
                left: 0%;
                height: 100%;
                width: 0%;
                transition: all 0.4s ease-in-out;
                z-index: -5;
                border-radius: 5px;
            }
            
            &:hover
            {
                // background-color: red;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                color: black;
                font-weight: 900;
                box-shadow: 2px 5px 10px red;
                
                &::after
                {
                    left: -0.5%;
                    width: 100%;
                    border-radius: 5px;
                    padding: 1px;
                }
                
            }
        }
        
        // &:hover
        // {
        //     .desc
        //     {
        //         animation-play-state: running; 
        //     }

        //     animation-play-state: running; 
        // }
    }


    // Millionare
    .example-2
    {
        max-width: 300px;
        margin: 0em auto 1em auto;
        // animation-name: marginDown;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-play-state: paused; 

        // &:hover
        // {
        //     .milli-desc
        //     {
        //         animation-play-state: running; 
        //     }

        //     animation-play-state: running; 
        // }

        .milli-desc h2
        {
            //font-weight: 900;
            font-family: $main-font;
            color: #0954ab;
            font-size: 1.5em;
        }


        .milli-desc p
        {
            font-size: 0.9em;
            color: white;
            font-variant: small-caps;
            line-height: 1.5em;
            font-family: $main-font;
        }
        
        .milli-desc .visitz
        {
            position: relative;
            background-color: transparent;
            border: 2px solid #0954ab;
            color: white;
            border-radius: 5px;
            font-family: $main-font;
            
            &:after
            {
                content: '';
                position: absolute;
                top: 0%;
                left: 0%;
                height: 100%;
                width: 0%;
                background-color: #0954ab;
                transition: all 0.4s ease-in-out;
                z-index: -5;
                border-radius: 5px;
            }
            
            &:hover
            {
                cursor: pointer;
                color: black;
                transition: all 0.4s ease-in-out;
                font-weight: 900;
                box-shadow: 2px 5px 10px #0954ab;
                
                &:after
                {
                    width: 101%;
                    height: 101%;
                }
            }
        }
        
        
    }
    
    
    .example-3
    {
        max-width: 300px;
        margin: 0 auto;
        // animation-name: marginDown;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-play-state: paused; 
        
        // &:hover
        // {
        //     .msft-desc
        //     {
        //         animation-play-state: running; 
        //     }
            
        //     animation-play-state: running; 
        // }
        
        // edit h2
        h2
        {
            color:  lightgreen;
            font-family: $main-font;
            font-size: 1.5em;
        }
        
        // edit p
        p
        {
            font-size: 0.9em;
            color: white;
            font-variant: small-caps;
            line-height: 1.5em;
            font-family: $main-font;
        }
        

        // edit button
         .msft-desc .visitz
        {
            position: relative;
            background-color: transparent;
            border: 2px solid lightgreen;
            color: white;
            border-radius: 5px;
            font-family: $main-font;

            &:after
            {
                content: '';
                position: absolute;
                top: -0.5%;
                left: -1%;
                height: 100%;
                width: 0%;
                background-color: lightgreen;
                transition: all 0.4s ease-in-out;
                z-index: -5;
                border-radius: 5px;
            }
            
            &:hover
            {
                cursor: pointer;
                color: black;
                transition: all 0.4s ease-in-out;
                font-weight: 900;
                box-shadow: 2px 5px 10px lightgreen;
                border-radius: 5px;
                
                &:after
                {
                    width: 102%;
                    height: 101%;
                }
            }
        }


    }


    .example-4
    {
        max-width: 300px; 
        margin: 0 auto;    
        // animation-name: marginDown;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-play-state: paused;   

        // &:hover
        // {
        //     .airbnb-desc
        //     {
        //         animation-play-state: running; 
        //     }

        //     animation-play-state: running;    
        // }

        
        // edit h2
        h2
        {
            color: #FF5A5F;
            font-family: $main-font;
            font-size: 1.5em;
        }

        // edit p
        p
        {
            font-size: 0.9em;
            font-family: $main-font;
            font-variant: small-caps;
            line-height: 1.5em;
        }


        // edit button
        .airbnb-desc .visitz
        {
            position: relative;
            background-color: transparent;
            border: 2px solid #FF5A5F;
            color: white;
            border-radius: 5px;
            font-family: $main-font;

             &:after
            {
                content: '';
                position: absolute;
                top: -1%;
                left: 0%;
                height: 100%;
                width: 0%;
                background-color: #FF5A5F;
                transition: all 0.4s ease-in-out;
                z-index: -5;
                border-radius: 5px;
            }
            
            &:hover
            {
                cursor: pointer;
                color: black;
                transition: all 0.4s ease-in-out;
                font-weight: 900;
                box-shadow: 2px 5px 10px #FF5A5F;
                border-radius: 5px;
                
                &:after
                {
                    width: 101%;
                    height: 102%;
                }
            }
        }
    }
        
.desc, .milli-desc, .msft-desc, .airbnb-desc
{
    position: relative;
    font-family: 'Roboto';
    padding: 0.5em;
    background-color: #121212;
}       

.desc
{
    opacity: 0;
    animation-name: ringDown;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.milli-desc
{
    opacity: 0;
    animation-name: ringDown;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.msft-desc
{
    opacity: 0;
    animation-name: ringDown;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.airbnb-desc
{
    opacity: 0;
    animation-name: ringDown;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

        
.desc > *, .milli-desc > *, .msft-desc > *, .airbnb-desc > *
{
    padding: 0.3em 0em;
}

// Git buttons and Link Button
.git-button
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border: 2px solid rgb(200, 0, 200);
    border-radius: 5px;
    text-decoration: none;
    padding: 1em;
    width: 57%;
    
    .git-icon
    {
        color: white;
        font-size: 0.7em;
        margin: 0em 0.5em;
    }
    
    .git > p
    {
        color: white;
        font-size: 1em;
        text-decoration: none;
        margin-left: 0.75em;
    }

    &::after
    {
        content: '';
        position: absolute;
        background-color: rgb(200, 0, 200);
        top: -0.5%;
        left: -0.5%;
        height: 100%;
        width: 0%;
        transition: all 0.4s ease-in-out;
        z-index: -5;
        border-radius: 5px;
    }

    &:hover::after
    {
        width: 100%;
        padding: 1px;
    }
}

// Visit me button
.visitz
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border: 2px solid #FF585D;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 0.5em;
    width: 40%;

    .visit > p
    {
        color: white;
        font-size: 1em;
        margin-left: 0.75em;
    }

    .arrow-icon > i
    {
        color: white;
        margin: 0em 0.5em;
    }

}

}

@media(max-width: 668px)
{
    .example .example-1, .example .example-2, .example .example-3, .example .example-4
    {
        margin-bottom: 3em;
    }
}
// Swiper editing
.swiperz
{
    width: 80%;
    margin: 8em auto 7em auto;

    .swiper-slide
    {
        position: relative;
        max-width: 650px;
        height: 300px;

         &::before
      {
          content: '';
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: all 0.5s ease-in-out;
      }

      &:hover
      {
            &::before
            {
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
      }


    }


    .slide-1
    {
        background-image: url('/assets/imgs/style1.PNG');
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;

        @media(max-width: 786px)
        {
            background-size: 430px 300px;
        }
    }


    .slide-2
    {
        position: relative;
        background-image: url('/assets/imgs/style2.PNG');
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;

         @media(max-width: 786px)
        {
            background-size: 400px 250px;
        }

        &::after
        {
            content: 'Inspired by the greatest of all time, Michael Jordan.';
            position: absolute;
            top: 40%;
            left: 26%;
            width: 50%;
            text-align: center;
            color: white;
            font-family: $main-font;
            font-weight: 300;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

        &:hover
        {
            &::after
            {
                opacity: 1;
            }
        }
    }
}



.swiper-slide, .swiper-slide > img {
      width: 550px;
      height: 300px;
      position: relative;
    }

    // .swiper-slide p
    // {
    //       position: absolute;
    //       width: 100%;
    //       top: 91.5%;
    //       left: 0%;
    //       background-color: black;
    //       color: white;
    //       font-family: $main-font;
    //       text-align: center;
    //       font-weight: 200;
    //       z-index: 1000;
    //       font-size: 0.7em;
    // }

.swiper-pagination-bullets
{
    bottom: 0px;
    margin: 0 auto;
    left: 60px;
    top: 481px;
}



@keyframes ringDown
{
    0%
    {
        opacity: 0;
        transform: translateY(-105%);
        z-index: -100;
    }

    100%
    {
        opacity: 1;
        transform: translateY(0%);
        z-index: 0;
    }
}

@keyframes marginDown
{
    0%
    {
        margin-bottom: 0em;
    }

    100%
    {
        margin-bottom: 10em;
    }
}

@keyframes scaleUp
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }

    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}