@import './Components/home-page/home-page.component.scss';

@mixin trans {
    transition: all 0.80s ease-in-out;
}

.main-info
{
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.96;
    right: 0%;
    // Initially the screen is hidden
    visibility: hidden;

    // When show is added, screen becomes visible
    &.show
    {
        visibility: visible;
    }
}

#img
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url('../assets/imgs/final.png');
    background-size: cover;
    background-position-y: -30px;
    transform: translateY(-200%);
    opacity: 0;
    transition: all 1s ease-in-out;

    @media(max-width: 786px)
    {
        width: 150px;
        height: 150px;
    }

    &.show
    {
        transform: translateY(0%);
        opacity: 1;
        transition: all 2s ease-in-out;
    }

}


.backz
{
    position: relative;

    img
    {
        position: absolute;
        padding: 1em;
        z-index: 100;
        width: 40px;

        @media(max-width: 768px)
        {
            top: 5%;
            left: 0%;
        }
    }

    &:hover
    {
        cursor: pointer;
    }
}

.menu-pic, .menu-link
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    width: 50%;
    height: 100vh;
}

.menu-pic
{
    background-color: skyblue;

    // Initially remove from screen towards left
    transform: translate3d(-100%, 0, 0);
    @include trans();

    &.show
    {
        transform: translate3d(0, 0, 0);
        @include trans();
    }

}

.menu-link
{
    list-style: none;
    background-color: white;
    line-height: 3em;

    // Initially Move from screen towards right
    transform: translate3d(100%, 0, 0);
    @include trans();

    &.show
    {
        transform: translate3d(0, 0, 0);
        @include trans();

        .all-items
        {

            li
            {
                margin: 3em 0em;
                animation-name: slideIn;
                animation-duration: 2s;
                transition: all 2s ease-in-out;
                // animation-fill-mode: forwards;

                a
                {
                    font-family: $nav-font;
                    font-weight: 200;
                }
            }
        }
    }
}

.hide
{
    position: absolute;
    top: 2%;
    left: 4%;
    font-size: 2em;
}

#cross
{
    color: black;
}

#cross:hover
{
    cursor: pointer;
}

// Link Styling
a
{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; // change this to nav-font
    font-size: 1.2em;
    transition: 0.5s all ease-in-out;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: rebeccapurple;

    &:hover
    {
        color: black;
        transition: 0.5s all ease-in-out;
        transform: scale(1.5);
    }
}




@keyframes slideIn
{
    0%
    {
        transform: translateX(200%);
        opacity: 0;
    }

    100%
    {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideTop
{
    0%
    {
        transform: translateY(100%);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0%);
        opacity: 1;
    }


}


@media(max-width: 768px)
{
    .main-info
    {
        // position: fixed;
        // width: 100%;
        display: flex;
        flex-direction: column;
    }


    .menu-pic, .menu-link
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
        width: 100%;
        height: 100vh;
    }
}
