@import '../../Components/home-page/home-page.component.scss';
// @import '../../../styles.scss';



// Flex rowing this

/*

// GOOD TIP //

- When working with parent and child elements, if we give our parent element the position of "relative", and the child element the position of "absolute", 

*/

.skill-overlay
{
    width: 100vw;
    height: 100vh;
    background-color: #444;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 55% 0%, 45% 100%, 0% 100%);
    transition: all 1s ease-in-out;

     @media(max-width: 1150px)
        {
            transition: all 1s ease-in-out;
            clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 60%);
        }
}

.container
{
    position: relative;
    overflow: hidden;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    #grid1
    {
        position: relative;
        margin: 2em auto 0em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;
        flex-direction: column;

        h1
        {
            // text-transform: uppercase;
            position: relative;
            font-family: $nav-font;
            font-weight: 100;
            font-size: 4em;

             @media(max-width: 566px)
            {
               font-size: 2.5em;
               margin-bottom: 1em;
            }
        
            &::after
            {
                content: '';
                position: absolute;
                top: 100%;
                left: 0%;
                width: 100%;
                height: 4px;
                background-color: white;
                // display: inline-block;
            }
            // text-decoration: underline;
        }

        .about
        {
            width: 24em;
            background-color: $airbnb;
            margin-top: -2.2em;
            padding: 1em;
            border-radius: 1em;
            color: white;
            
            @media(max-width: 566px)
            {
                width: 18em;
                border-radius: 30%;
            }


            .text
            {
                margin: 2em 0em 0em 0em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                 @media(max-width: 566px)
                {
                    font-size: 0.8em;
                    padding-top: 0.1em;
                }
            }

        }

        .face
        {
            margin-top: -3em;
        }
        
        @media(max-width: 960px)
        {
            margin: 0em auto 0em auto;
        }

    }

    @media(max-width: 1150px)
    {
        display: block;
    }


    #grid2
    {
        position: relative;
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;
        flex-direction: column;

        @media(max-width: 600px)
        {
            width: 85%;
            margin: 0 auto;
        }

        .each-skill
        {
            padding: 0em 1em;
        }

        h1
        {
            position: relative;
            font-family: $nav-font;
            font-size: 4em;
            font-weight: 100;

             @media(max-width: 566px)
            {
                font-size: 2.5em;
            }

            &::after
            {
                content: '';
                position: absolute;
                top: 100%;
                width: 100%;
                background-color: white;
                height: 4px;
                left: 0;
            }


        }

        h3
        {
            position: relative; // This is important because the after will position relative to this posiiton
            font-size: 1em;
            padding-bottom: 0.3em;
            text-align: center;
            font-weight: 900;
            
            &::after
            {
                content: '';
                position: absolute;
                display: inline-block;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: white;
                height: 2px;
            }
        }

        p
        {
            position: relative;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 90%;
            margin: 0 auto;
            font-weight: 200;
        }

    }
}
