 @import '../home-page/home-page.component.scss';

$trans: all 1s ease-in-out;

html, .container
{
    font-family: $nav-font;
}

 body
 {
     background-image: none; 
     background-color: transparent;
     line-height: 1.5;   
     overflow: hidden;
}
    
    .overlayz
{
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: -28%;
    left: 0%;
    overflow: hidden;
    background-color: #444;
    z-index: -50;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 85%);
    
    @media(max-width: 566px)
    {
        top: -40%;
    }

}

    #img
    {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #009999;
        background-image: url('../../../assets/imgs/final.png');
        background-size: cover;
        background-position-y: -30px;
        // z-index: 500;
    }


    
h1
{
    font-size: 3em;
    font-weight: 100;
    font-family: $nav-font;
    margin-top: 0em;
}

.container
{
    width: 90%;
    max-width: 1300px;
    margin: -1em auto 0em auto;
}

// Cursor
.cursor
{
    display: inline-block;
    font-size: 1.2em;
    animation-name: fadeIn;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
}

// Bio
.bio
{
    // width: 100vh;
    // text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    opacity: 1;

    .bio-info
    {
        max-width: 50%;
        margin-left: 2em;
    }
}


// Cards
    
    .card
    {
        position: relative;
        width: 25em;
        height: 14em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0em 2em;
        margin-bottom: 2em;
        transition: $trans;
        opacity: 0;
        
        
        // Animation
        &:nth-child(1)
        {
            animation-name: flipIn;
            animation-duration: 4s;
            animation-fill-mode: forwards;
        }

        &:nth-child(2)
        {
            animation-name: flipIn;
            animation-duration: 4s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }

        &:nth-child(3)
        {
             animation-name: flipIn;
            animation-duration: 4s;
            animation-delay: 1s;   
            animation-fill-mode: forwards;
        }
        
        @media(max-width: 556px)
        {
            // margin-top: 5em;
            width: 15em;
            height: 18em;
            
            &:first-child
            {
                padding: 2em 0em;
                margin-bottom: 5em;
            }

            &:nth-child(2)
            {
                margin-top: 3.5em;
                margin-bottom: 3em;
            }

            .company-img
            {
                padding: 1em;
            }
        }
        
        .front-card
        {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: white;
            color: black;
            padding: 0.5em;
            border-bottom: 5px solid skyblue;
            backface-visibility: hidden;
            transition: $trans;
            border-radius: 8px;


            
            // Div
            > div
            {
                text-align: left;
                margin-bottom: 1.5em;
                
                &:nth-child(1), &:nth-child(2)
                {
                    font-weight: 700;
                }
            }
            
            
            .company-name
            {
                font-size: 1.5em;
                font-weight: 100;

                @media(max-width: 556px)
                {
                    text-align: center;
                }
            }



        }

        .back-card
        {
            position: absolute;
            top: 0%;
            left: -8%;
            height: 94%;
            width: 100%;
            padding: 0.5em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-bottom: 3px solid black;
            margin: 0 2em;
            background-color: #F0F6F7;
            margin-bottom: 2em;
            // padding: 0.5em;
            color: black;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: $trans;
            display: table;

            @media(max-width: 556px)
            {
                left: -13.4%;
            }

            ul
            {
                list-style-type: none;
                display: flex;
                margin-top: -0.3em;
                i
                {
                    margin-left: -2em;
                    margin-top: 0.3em;
                    padding-right: 0.5em;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                li
                {
                    padding-right: 0.5em;
                    text-align: left;
                }
            }
        }

        &:hover
        {
            .front-card
            {
                transform: rotateY(180deg);
                transition: $trans;
                backface-visibility: hidden;
                height: 100%;
            }
            
            .back-card
            {
                transform: rotateY(0deg);
                transition: $trans;
                height: 100%;
            }

            margin-bottom: 8em;
            transition: $trans;
            cursor: pointer;
            
            @media(max-width: 996px)
            {
               padding-bottom: 6em;        
            }
        }


    }
    

h6
{
    margin: 0em 0em 1em 0em;
    font-size: 1.4em;
}


.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3em auto 0em auto;
}


// Modal
.modal-back
{
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed; // fixed allows the height to expand throughout whole page no matter how long the page
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    

    .inner
    {
        background: skyblue;
        border-radius: 10px;
        width: 100%;
        clip-path: circle(10% at 0% 0%);
        transition: all 2.5s ease-in-out;
        display: table;
        animation-name: clipPathz;
        animation-fill-mode: forwards;
        animation-duration: 2s;
    }

    .modal-main
    { 
        background-color: #eee;
        color: black;
        max-width: 50%;
        box-shadow: 1px 1px 15px 3px  gray;
        border-radius: 10px;
        border: 2px solid black;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    

        #cross
        {
            float: right;
            font-size: 1.5em;
            margin: 0.5em;

            &:hover
            {
                cursor: pointer;
            }
        }

        p
        {
            padding: 2em;
        }

    }
    
}

@media(max-width: 1468px)
{
    
    .grid
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media(max-width: 968px)
    {
    
       .bio
    {
        .bio-info
        {
            max-width: 85%;
            margin-left: 0em;
        }
    }        
    
    }


@media(max-width: 968px)
{

    .grid{
        display: inline-block;
    }
}


h2
{
    margin-top: 1em;
    font-weight: 900;
    overflow: hidden;
}

.shake-words
{
    animation-name: show;
    animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
}


h2
{
    i:first-child
    {
        margin-right: 0.5em;
    }

    i:last-child
    {
        margin-left: 0.5em;
    }
}

// Flexing title with img
.img-flex
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    @media(max-width: 556px)
    {
        flex-wrap: wrap;
    }
}

img
{
    border-radius: 10%;
}

// Clip-path animation
@keyframes clipPathz
{
    0%
    {
        opacity: 0.5;
        // background: skyblue;
        clip-path: circle(10% at 0% 0%);
    }

    100%
    {  
        opacity: 1;
        // background-color: lightgreen;
        clip-path: circle(75%);
    }
}




@keyframes show
{
    0%
    {
        opacity: 0;
        color: white;
        transform: rotate(0deg);
    }
    5%
    {
        opacity: 0;
    }
    10%
    {
        opacity: 1;
        color: red;
        transform: scale(1.1) rotate(4deg);
    }
    15%
    {
        opacity: 0;
    }
    20%
    {
        opacity: 1;
        color: yellow;
        transform: scale(1.2) rotate(-4deg);
    }
    25%
    {
        opacity: 0;
    }
    30%
    {
        opacity: 1;
        color: lightgreen;
        transform: scale(1.3) rotate(4deg);
    }
    35%
    {
        opacity: 0;
    }
    40%
    {
        opacity: 1;
        color: black;
        transform: scale(1.4) rotate(-4deg);
    }
    45%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
        color: white;
        transform: scale(1.5) rotate(4deg);
    }
    55%
    {
        opacity: 0;
    }
    60%
    {
        opacity: 1;
        color: red;
        transform: scale(1.4) rotate(-4deg);
    }
    65%
    {
        opacity: 0;
    }
    70%
    {
        opacity: 1;
        color: yellow;
        transform: scale(1.3) rotate(4deg);
    }
    75%
    {
        opacity: 0;
    }
    80%
    {
        opacity: 1;
        color: lightgreen;
        transform: scale(1.2) rotate(-4deg);
    }
    85%
    {
        opacity: 0;
    }
    90%
    {
        opacity: 1;
        color: black;
        transform: scale(1.1) rotate(4deg);
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        color: white;
        transform: scale(1) rotate(0deg);
    }
}


@keyframes flipIn
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
    }

    40%
    {
        transform: rotateY(-20deg);
    }

    60%
    {
        opacity: 1;
        transform: rotateY(0deg);
    }

    80%
    {
        transform: rotateY(-15deg);
    }

    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  50%
  {
      opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

// @keyframes boom
// {
//     0%
//     {
//         opacity: 1;
//         transform: scale(1.0);
//     }

//     50%
//     {
//         opacity: 1;
//         transform: scale(300.0);
//     }

//     100%
//     {
//         display: none;
//         content: 'Yerr';
//     }
// }



// @keyframes show
// {
//     0%
//     {
//         opacity: 1;
//         color: white;
//         transform: rotate(0deg);
//     }
//     5%
//     {
//         opacity: 0;
//     }
//     10%
//     {
//         opacity: 1;
//         color: red;
//         transform: scale(1.1) rotate(4deg);
//     }
//     15%
//     {
//         opacity: 0;
//     }
//     20%
//     {
//         opacity: 1;
//         color: yellow;
//         transform: scale(1.2) rotate(-4deg);
//     }
//     25%
//     {
//         opacity: 0;
//     }
//     30%
//     {
//         opacity: 1;
//         color: lightgreen;
//         transform: scale(1.3) rotate(4deg);
//     }
//     // 35%
//     // {
//     //     opacity: 0;
//     // }
//     // 40%
//     // {
//     //     opacity: 1;
//     //     color: black;
//     //     transform: scale(1.4) rotate(-4deg);
//     // }
//     // 45%
//     // {
//     //     opacity: 0;
//     // }
//     // 50%
//     // {
//     //     opacity: 1;
//     //     color: white;
//     //     transform: scale(1.5) rotate(4deg);
//     // }
//     // 55%
//     // {
//     //     opacity: 0;
//     // }
//     // 60%
//     // {
//     //     opacity: 1;
//     //     color: red;
//     //     transform: scale(1.4) rotate(-4deg);
//     // }
//     // 65%
//     // {
//     //     opacity: 0;
//     // }
//     // 70%
//     // {
//     //     opacity: 1;
//     //     color: yellow;
//     //     transform: scale(1.3) rotate(4deg);
//     // }
//     // 75%
//     // {
//     //     opacity: 0;
//     // }
//     // 80%
//     // {
//     //     opacity: 1;
//     //     color: lightgreen;
//     //     transform: scale(1.2) rotate(-4deg);
//     // }
//     // 85%
//     // {
//     //     opacity: 0;
//     // }
//     // 90%
//     // {
//     //     opacity: 1;
//     //     color: black;
//     //     transform: scale(1.1) rotate(4deg);
//     // }
//     95%
//     {
//         transform: scale(300.0) rotate(0deg);
//         transition: 4s all ease-in-out;
//     }
//     100%
//     {
//         transform: scale(1.0) rotate(0deg);
//         transition: 4s all ease-in-out;
//     }
// }


// Styled buttons
.sdm
{
    display: none;
}


.mgcs, .ism
{
    width: 35%;
    margin: 0 auto;
    padding: 0.5em;
    background-color: transparent;
    border: 1px solid black;
    position: relative;

    &::before
    {
        content: "";
        background-color: black;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: 0.5s;
        z-index: -5;
        transition: all 0.3s ease-in-out;
    }

    &:hover
    {
        cursor: pointer;
        color: white;

        &::before
        {
            height: 102%;
            color: white;
        }
    }
}
