<app-hamburger></app-hamburger>
<div class="overlayz"></div>

<app-back></app-back>

<body>

    <!-- Add Title -->
    <h1>About <span class="blue">Me</span></h1>

    <!-- Flexing picture and Biography (REMOVE SRC FROM IMAGE) -->
    <div class="container">
        <div class="bio">
            <div class="bio-pic">
                <img alt="" id="img">
            </div>

            <div class="bio-info">
                <h2>Biography</h2>
                <span class="infoz">
                    {{allText}}
                    <span class="cursor">
                        |
                    </span>
                </span>
            </div>
        </div>
    </div>


    <h2 [ngClass]="{'shake-words': shakeIt}">
        <i class="fa fa-arrow-down"></i>
        Hover over us!
        <i class="fa fa-arrow-down"></i>
    </h2>




    <!-- Add Jobs Worked At -->
    <!-- Cards -->

    <div class="grid">

        <!-- card is relative -->
        <div class="card" *ngFor="let job of allJobs">

            <!-- Front of card -->
            <!-- front is absolute -->
            <div class="front-card">
                <div class="img-flex">

                    <div class="company-name">
                        {{job.company}}
                    </div>

                    <div class="company-img">
                        <img src={{job.pic}} alt="" class="company-pic" width="200px">
                    </div>

                </div>
            </div>


            <!-- Back of card -->
            <!-- back is absolute -->
            <div class="back-card">
                <h6>{{job.position}}</h6>
                <ul *ngFor="let resp of job.points">
                    <i class="fa fa-arrow-right"></i>
                    <li>{{resp}}</li>
                </ul>


                <button class="{{job.class}}" (click)="showModal()">
                    Show More
                </button>


            </div>

        </div>

    </div>

    <div class="flex">
        <div class="modal-back">

            <div class="flex">
                <div class="modal-main">
                    <div class="inner">

                        <i class="fa fa-times" id="cross" (click)="removeModal()"></i>

                        <div class="modal-info">



                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>




</body>